.antd-master-logo{
    position: relative;
    
    overflow: hidden;
    /*background: #001529;*/
    padding: 0 24px;
    
    cursor: pointer;
    transition: all .3s;
    width: 250px;  
}
.antd-master-logo img{
    display: inline-block;
    height: 32px;
    vertical-align: middle    
}
.antd-master-logo>a {
    display: flex;
    align-items: center;
    height: 64px
  }
  
  .antd-master-logo h1 {
    display: inline-block;
    margin: 0 0 0 12px;
    /*color: #fff;*/
    font-weight: 600;
    font-size: 20px;
    vertical-align: middle;
    animation: fade-in;
    animation-duration: .3s
  }