.ant-pro-sider-menu-logo{
  position: relative;
  padding: 0 24px;
  overflow: hidden;
  background: #001529;
  cursor: pointer;
  transition: all .3s
}
.ant-pro-sider-menu-logo>a {
  display: flex;
  align-items: center;
  height: 64px
}

.ant-pro-sider-menu-logo img {
  display: inline-block;
  height: 32px;
  vertical-align: middle
}

.ant-pro-sider-menu-logo h1 {
  display: inline-block;
  margin: 0 0 0 12px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  vertical-align: middle;
  animation: fade-in;
  animation-duration: .3s
}